
img {
	width:70% ;
	height: auto;
  border: 1px solid rgba(255, 0, 0, .5);
  border-radius: 10px 10px;
}

.tcol {
  margin-left: -80px;
}

iframe {
  width: 600px;
  height: 300px;
  border: 1px solid rgba(255, 0, 0, .5);
  border-radius: 10px 10px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  margin-right: 10px;
}

.column {
	flex: 25%;
	max-width: 100%;
	padding: 0 4px;
}

.column img, iframe {
	margin-top: 8px;
	vertical-align: middle;
}

.btn {
  position: relative;
  margin-top: -70px;
  margin-left: 1000px;
}

/* 
@media (max-width: 800px) {
	.column {
		flex: 50%;
		max-width: 50%;
	}
}


@media (max-width: 600px) {
	.column {
		flex: 100%;
		max-width: 100%;
	}
} */
