

.card, .card-image {
  width: 100px;
  height: 200px;
  margin: auto;
  justify-content: center;
  
}

.slides {
  width: 900px;
  height: 250px;
  border-radius: 4px;
  justify-content: center;
}

